.title {
    color: darkred;
}

.mainBG {
    background: #C0BFBF;
}

.advertising {
    height: 100px;
    width: 100%;
    border: 5px solid #f5f5f5;
    background-color: darkred;
    margin: 0px;
}
.navbar-header{
   height: 50px;
    margin-left: -10px;
}
.navbar-default{
    margin-bottom: 0px;
}
/*.error::-webkit-input-placeholder{*/
   /*color:red; */
/*}*/
.errorField{
    border: 1px solid red;
}
.errorMessage{
    color:red;
    display: none;
}